/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	background: '#aab2ff';
	background: linear-gradient(to right, rgba(132, 255, 201), #84ffc9);
	background: -webkit-linear-gradient(to right, rgba(132, 255, 201) 0%, #84ffc9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
